@import url("https://use.typekit.net/twt4nji.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-image: url(../img/bg-image.png);
  background-color: black;
  background-size: cover;
  min-width: 300px;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }

header {
  background-color: #800000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center; }
  header i {
    color: white;
    cursor: pointer; }
  header i:hover {
    color: #ffab99; }

main {
  width: 90vw;
  height: 80vh;
  border: 5px solid green;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); }

.button {
  padding: 20px 40px;
  margin: 2px;
  background-color: #800000;
  color: white;
  font-family: courier-prime, monospace;
  width: 80%;
  border-radius: 10px;
  text-align: center; }
  .button:hover {
    background-color: #8f4836;
    cursor: pointer; }
  .button:active {
    background-color: #8c078c; }

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  pointer-events: none; }

h2 {
  font-family: gothicus-roman, sans-serif;
  text-align: center;
  color: #800000;
  font-size: 4rem; }

p {
  margin: 16px;
  text-align: center;
  color: white;
  font-family: courier-prime, monospace;
  max-width: 80%; }

.story {
  font-size: 2rem; }

.character-heading {
  font-family: "gothicus-roman";
  font-size: 2rem;
  color: #800000; }

.character-selection {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }
  @media (min-width: 788px) {
    .character-selection {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center; } }

.character-card {
  cursor: pointer;
  background-color: #800000;
  display: grid;
  width: 100%;
  height: 100%;
  border: 2px solid orange;
  cursor: pointer; }
  .character-card h2 {
    font-size: 2rem;
    color: white;
    grid-row: 1;
    grid-column: 2;
    font-family: gothicus-roman, sans-serif;
    margin: auto 0; }
  .character-card .stats {
    display: none;
    color: white;
    text-align: center;
    margin: auto;
    font-family: courier-prime, monospace; }
    .character-card .stats p {
      margin: 0; }
  .character-card:hover {
    background-color: #8f4836; }
    .character-card:hover img {
      display: none; }
    .character-card:hover .stats {
      display: block; }
  .character-card:active {
    background-color: #99004c; }
  .character-card img {
    height: 100px;
    margin: auto; }
    @media (min-width: 788px) {
      .character-card img {
        height: 200px; } }
  @media (min-width: 788px) {
    .character-card {
      width: 95%;
      height: 90%; } }

.battle-arena {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr 3fr; }
  .battle-arena .battle {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center; }
  .battle-arena .battle-command {
    color: white;
    background: #800000;
    width: 200px;
    height: 100px;
    text-align: center;
    cursor: pointer; }
    .battle-arena .battle-command:hover {
      background-color: #8f4836; }
    .battle-arena .battle-command:active {
      background-color: #99004c; }

.character-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

/*# sourceMappingURL=style.css.map */
